{% extends 'index_gated.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-lg-6 align-self-center">
            <div class="learning_img">
                <img src="{% static 'img/formfill2.jpg' %}">
            </div>
        </div>
        <div class="col-md-5 col-lg-5 align-self-center">
            <h1>Creating a new review for {{lesson.title}}</h1>
            <form method="POST">
             {% csrf_token %}
             {{ form|crispy}}
             <input type="submit" value="Create Review" class="btn_1"/>
             <a href="{% url 'lesson_details' lesson_id=lesson.id %}"> Cancel </a>
            </form>
        </div>
    </div>
    <br>
</div>
{% endblock %}