{% extends 'index_public.html' %}
{% load static %}

{%block content%}
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>We make math fun and easy!</h5>
                        <h1>Adding some matheMAGIC 
                            to your child's life</h1>
                        <p>At AceAcademy, we aim to help our students appreciate the beauty of numbers and develop their critical thinking skills</p>
                        <a href="/browse" class="btn_1">View Lessons </a>
                        <a href="/accounts/signup" class="btn_2">Get Started </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<!-- feature_part start-->
<section class="feature_part">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xl-3 align-self-center">
                <div class="single_feature_text ">
                    <h2>Robust <br> Curriculum</h2>
                    <p>Our educators bring with them a wealth of experience in the field of mathematics 
                        and caters to students of all levels and abilities </p>
                    <a href="/instructors" class="btn_1">Meet our educators</a>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><i class="ti-layers"></i></span>
                        <h4>Bright Futures</h4>
                        <p>Having a strong background in mathematics provides the foundation for many
                            students to excel in many well-respected professions 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                        <h4>Qualified Trainers</h4>
                        <p>Our educators are either MOE trained and certified or have vast experience tutoring
                             mathematics to students of all ages, gender and ability 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="single_feature">
                    <div class="single_feature_part single_feature_part_2">
                        <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                        <h4>Proven Record</h4>
                        <p>Many of our students have gone on to score As in their 'O' and 'A' level examinations. 
                            <br><a href="/browse">See what some others are saying!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming_event part start-->

<!-- learning part start-->
<section class="learning_part">
    <div class="container">
        <div class="row align-items-sm-center align-items-lg-stretch">
            <div class="col-md-7 col-lg-7">
                <div class="learning_img">
                    <img src="{% static 'img/learning_img.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="learning_member_text">
                    <h1>Additional Benefits</h1>
                    <p>We don't want learning to be confined to just the classroom. At AceAcademy, we believe that learning is a
                         lifelong journey and works best if students are always asking questions!
                    </p>
                    <ul>
                        <li><span class="ti-ruler-pencil"></span>Don't be shy and post ANY math questions</li>
                        <li><span class="ti-ruler-pencil"></span>Clarify doubts with a simple click of a button</li>
                        <li><span class="ti-ruler-pencil"></span>Get help fast by our qualified teachers!</li>
                        <li><span class="ti-ruler-pencil"></span>No account required, no strings attached!</li>
                    </ul>
                    <a href="/forum" class="btn_1">Post Questions for Free!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- learning part end-->

<!-- member_counter counter start -->
<section class="member_counter">
    <div class="container">
        <div class="d-flex row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">1049</span>
                    <h4>Bright Students</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">15</span>
                    <h4> Dedicated Teachers</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">829</span>
                    <h4>Online Lessons</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- member_counter counter end -->

<!--::review_part start::-->
<section class="special_cource padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>Don't miss out!</h2>
                    <br><br>
                    <a href="accounts/signup" class="btn_1">Start your first class today!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::blog_part end::-->

<!--::review_part start::-->
<br><br>
<section class="testimonial_part">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="textimonial_iner owl-carousel">
                    <div class="testimonial_slider">
                        <div class="row">
                            <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                <div class="testimonial_slider_text">
                                    <p>I don't come from a very rich family and I thought that I was going to fall behind 
                                        my peers. Thank you Ace Academy for providing cost-saving ways to learn!</p>
                                    <h4>Anna Sacia</h4>
                                    <h5>B in O Level</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-2 col-sm-4">
                                <div class="testimonial_slider_img">
                                    <img src="{% static 'img/testimonial1.jpg' %}" alt="testimonial">
                                </div>
                            </div>
                            <div class="col-xl-4 d-none d-xl-block">
                                <div class="testimonial_slider_text">
                                    <p>I almost lost hope in finding good tutors until I came across Ace Academy! 
                                    It's easy to access and also entertaining to learn!
                                    </p>
                                    <h4>Farah Yee</h4>
                                    <h5>B in A Level</h5>
                                </div>
                            </div>
                            <div class="col-xl-2 d-none d-xl-block">
                                <div class="testimonial_slider_img">
                                    <img src="{% static 'img/testimonial2.jpg' %}" alt="testimonial">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_slider">
                        <div class="row">
                            <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                <div class="testimonial_slider_text">
                                    <p>I almost lost hope in finding good tutors until I came across Ace Academy! 
                                    It's easy to access and also entertaining to learn!
                                    </p>
                                    <h4>Farah Yee</h4>
                                    <h5>B in A Level</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-2 col-sm-4">
                                <div class="testimonial_slider_img">
                                    <img src="{% static 'img/testimonial2.jpg' %}" alt="testimonial">
                                </div>
                            </div>
                            <div class="col-xl-4 d-none d-xl-block">
                                <div class="testimonial_slider_text">
                                    <p>I'd always thought math was an alien language until I started learning in
                                        Ace Academy. The lessons are so straight forward to understand!
                                    </p>
                                    <h4>Michel Hashale</h4>
                                    <h5>A in A Level</h5>
                                </div>
                            </div>
                            <div class="col-xl-2 d-none d-xl-block">
                                <div class="testimonial_slider_img">
                                    <img src="{% static 'img/testimonial3.jpg' %}" alt="testimonial">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_slider">
                        <div class="row">
                            <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                <div class="testimonial_slider_text">
                                    <p>I'd always thought math was an alien language until I started learning in
                                        Ace Academy. The lessons are so straight forward to understand!
                                    </p>
                                    <h4>Michel Hashale</h4>
                                    <h5>A in A Level</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-2 col-sm-4">
                                <div class="testimonial_slider_img">
                                    <img src="{% static 'img/testimonial3.jpg' %}" alt="testimonial">
                                </div>
                            </div>
                            <div class="col-xl-4 d-none d-xl-block">
                                <div class="testimonial_slider_text">
                                    <p>Dreams do come true! I had always failed in math but after purchasing
                                        Ace Academy materials and lessons, I've become a peer tutor!
                                    </p>
                                    <h4>John Doe</h4>
                                    <h5>A1 in O Level</h5>
                                </div>
                            </div>
                            <div class="col-xl-2 d-none d-xl-block">
                                <div class="testimonial_slider_img">
                                    <img src="{% static 'img/testimonial4.jpg' %}" alt="testimonial">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_slider">
                        <div class="row">
                            <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                <div class="testimonial_slider_text">
                                    <p>Dreams do come true! I had always failed in math but after purchasing
                                        Ace Academy materials and lessons, I've become a peer tutor!
                                    </p>
                                    <h4>John Doe</h4>
                                    <h5>A1 in O Level</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-2 col-sm-4">
                                <div class="testimonial_slider_img">
                                    <img src="{% static 'img/testimonial4.jpg' %}" alt="testimonial">
                                </div>
                            </div>
                            <div class="col-xl-4 d-none d-xl-block">
                                <div class="testimonial_slider_text">
                                    <p>I don't come from a very rich family and I thought that I was going to fall behind 
                                        my peers. Thank you Ace Academy for providing cost-saving ways to learn!</p>
                                    <h4>Anna Sacia</h4>
                                    <h5>B in O Level</h5>
                                </div>
                            </div>
                            <div class="col-xl-2 d-none d-xl-block">
                                <div class="testimonial_slider_img">
                                    <img src="{% static 'img/testimonial1.jpg' %}" alt="testimonial">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}

{%block js%}

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <!-- popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- easing js -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <!-- swiper js -->
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <!-- swiper js -->
    <script src="{% static 'js/masonry.pkgd.js' %}"></script>
    <!-- particles js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}" type="text/javascript"></script>
    <!-- swiper js -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'js/custom.js' %}"></script>
{%endblock%}