{% extends 'index_public.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{%block content%}
<section class="special_cource padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>Search Instructors</h2>
                    <br><br>
                    <form method="GET">
                        {{search_instructor|crispy}}
                        <input type="submit" class="button button-contactForm btn_1" value="Search"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            {% for instructor in instructors %}
            <div class="col-sm-6 col-lg-4">
                <div class="single_special_cource">
                    <div class="single_feature_text">
                        <div class="special_cource_text">
                            {% cloudinary instructor.cover width=300 height=400 %}<br>
                            <h3>Hi there, I am {{instructor.instructor_preferred_name}}!</h3>
                            <h5>I have {{instructor.years_experience}} years of experience and a {{instructor.qualifications}}!</h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <div class="row justify-content-center">
            Keen on joining us as instructor? <a href="mailto:hsu.enyang@gmail.com"> Send in your resume!</a>
        </div>
    </div>
    <br><br>
</section>
{%endblock%}

{%block js%}
<script
src="https://code.jquery.com/jquery-3.5.1.min.js"
integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{%endblock%}